
.container-mat-card {
  background: #001219;
  height: 100%;
  border-radius: 0;
  text-align: center;
  color: white;
  padding: 15px;
}

.legende {
  display: flex;
  justify-content: center;
  padding: 10px;
  /*background: red;*/
}

.legende .container-legende-color  {
  display: flex;
  margin-right: 20px;
  justify-content: space-around;
  /*background: yellow;*/
}

.legende span {
  display: block;
  margin-left: 5px;
}

.legende-color {
  width: 20px;
  height: 20px;
}

.legende-color-red {
  background: #ae2012;
}

.legende-color-green {
  background: #0a9396;
}

.container-mat-card-content {
  background: #001219;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.footer-mat-card {
  background: white;
  border: #001219 2px dashed;
  color: #001219;
  font-size: 1.2em;
  font-weight: bold;
}

.completedtrue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #0a9396;
  padding: 10px;
  border: 3px dashed #ae2012;
  vertical-align: middle;
}

.completedfalse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ae2012;
  padding: 10px;
  border: 3px dashed #0a9396;
  vertical-align: middle;
}
