<mat-card class="container-mat-card">
  <mat-card-title>
    | Liste des tâches à réaliser |
    <mat-form-field>
      <mat-label>Séléctionnez le user</mat-label>
      <mat-select>
        <mat-option (click)="getUserData(i)" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">
          User {{i}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="legende">
      <div class="container-legende-color">
        <div class="legende-color legende-color-green"></div>
        <span>Tâche complétée</span>
      </div>
      <div class="container-legende-color">
        <div class="legende-color legende-color-red"></div>
        <span>Tâche non complétée</span>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content class="container-mat-card-content">
    <mat-card *ngFor="let dataElement of recievedData" [className]="'completed' + dataElement.completed">
      <mat-card-content>
        {{dataElement.title}}
      </mat-card-content>
    </mat-card>
  </mat-card-content>

  <mat-card-footer>
    <mat-card class="footer-mat-card">
      <mat-card-content>
        Nombre de vues => {{nbViews}}
      </mat-card-content>
    </mat-card>
  </mat-card-footer>
</mat-card>




